{% extends '_navbar.html.twig' %}

{% block title %}Documents Manager{% endblock %}

{% block main %}

    <h2 class="home-title text-center">Facilitez la création et gestion de documents pour votre entreprise !</h2>

    <div class="home">

        <div class="card info">
            <div class="card-body">
                <h3 class="card-title">Enregistrer vos informations</h3>
                <p class="card-text">Renseignez la raison sociale, l'adresse, et le SIREN/SIRET de votre entreprise
                    afin de les générer automatiquement sur vos facture et devis.</p>
            </div>
        </div>

        <div class="card product">
            <div class="card-body">
                <h3 class="card-title">Ajouter, modifier et supprimer vos produits et prestations</h3>
                <p class="card-text">Sauvegardez facilement vos marchandises et services !
                    Vous n'aurez plus besoin de les saisir manuellement.</p>
            </div>
        </div>

        <div class="card client">
            <div class="card-body">
                <h3 class="card-title">Gérer votre clientèle</h3>
                <p class="card-text">Enregistrez le nom et l'adresse de vos clients pour
                    retouver ou créer des devis et factures en un clic.</p>
            </div>
        </div>

        <div class="card free">
            <div class="card-body">
                <h3 class="card-title">100% gratuit</h3>
                <p class="card-text">Documents manager est une solution de gestion entièrement gratuite
                    accessible aux entreprises et aux associations. Pour cela, il vous suffit de
                    <a href="#" class="card-link">créer un compte</a> ou de <a href="#" class="card-link">vous connecter</a>
                    à votre espace personnel.
                </p>
            </div>
        </div>

    </div>
{% endblock %}
